#sidebar .directions p {
  margin: 0;
  text-indent: 8mm;
}

#content .directions {
  display: none;
  flex-shrink: 0;
}

@media print {
  #content .directions {
    display: block;
  }
}
table {
  border-collapse: collapse;
}
table.label .num {
  display: flex;
}

.border td {
  border: 1px dashed black;
}

td {
  height: 4cm;
  min-width: 4cm;
  padding: 0;
  position: relative;
  width: 4cm;
}
td div {
  position: absolute;
}
td .num {
  align-items: center;
  display: none;
  font-size: 1.2em;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.6;
  text-decoration: underline;
  top: 0;
  width: 100%;
}
td .top {
  text-align: center;
  top: 5px;
  transform: rotate(-180deg);
  width: 100%;
}
td .right {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  right: 5px;
  top: 0;
}
td .right > div {
  transform: rotate(-90deg);
}
td .bottom {
  bottom: 5px;
  text-align: center;
  width: 100%;
}
td .left {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 5px;
  top: 0;
}
td .left > div {
  transform: rotate(90deg);
}

#sidebar {
  flex-shrink: 0;
  overflow: auto;
  width: 250px;
}

@media print {
  #sidebar {
    display: none;
  }
}
html, body, #root {
  height: 100%;
}

button:focus {
  outline: 0;
}

h2 {
  text-align: center;
}

#root {
  display: flex;
}

#content {
  align-items: safe center;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#puzzle-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

#shuffle-toggle {
  flex-shrink: 0;
  padding: 20px;
}

.katex .base {
  display: block !important;
}

@media print {
  #shuffle-toggle {
    display: none;
  }
}